*{
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    align-items: center;
    /*display flex deixa as palavras uma do lado da outra*/
    display: flex;
    /*gap separa os conteudos uns dos outros*/
    gap: 1em;
    /*fixed deixa os conteudos fixos*/
    position: fixed;
    height: 2em;
    background: linear-gradient(to left, rgb(255, 55, 55), rgb(56, 56, 255), cyan);
    width: 100%;
    box-shadow: 0px 3px 8px rgba(0,0,0, .8);
    padding-left: 1em;
}

a {
    text-decoration: none;
}
a:visited {
    color: white;
}
section {
    min-height: 100vh;
    padding-top: 2.5em;
    padding-left: 1.5em;
    color: white;
}
#ini {
    background: url(imagem1.jpg);
    background-size: cover;
}
#ser {
    background: url(imagem2.jpg);
    background-size: cover;
}
#con {
    background: url(imagem3.jpg);
    background-size: cover;
}
#cur {
    background: url(imagem4.jpg);
    background-size: cover;
}
#sob {
    background: url(imagem5.jpg);
    background-size: cover;
}