/*asterisco seleciona tudo*/
* {
    margin: 0;
    padding: 0;
}
/*body e o corpo do meu programa*/
body {
    background: rgb(143, 143, 143);
}
/*nav e o meu navegador*/
nav {
    margin: 150px auto;
    width: 450px;
    height: 450px;
}
/*check e meu elemento*/
#check {
    display: none;
}
/*central e meu id*/
#central {
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 150px 150px;
    z-index: 1;
}

#central img {
    width: 100%;
    border-radius: 50%;
    transition: all .5s linear;
}
.link {
    position: absolute;
    margin: 195px 195px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .5s linear;
}
#check:checked ~ a #link_01{
    transform: translateY(-195px);
    transition: all .5s linear;
}
#check:checked ~ a #link_02{
    transform: translateX(195px);
    transition: all .5s linear;
}
#check:checked ~ a #link_03{
    transform: translateY(195px);
    transition: all .5s linear;
}
#check:checked ~ a #link_04{
    transform: translateX(-195px);
    transition: all .5s linear;
}
#check:checked ~ #central img {
    transform: rotate(45deg);
    /*width: 100px;
    height: 100px;*/
    
}